## [ESPM-136] Notebook 3: Interactive Data Exploration Assignment

## **Introduction Section here**

Discuss overview of notebook and what students can take away from it here. Can also provide any relevant resources here.

need to also mention that this notebook has questions that are bolded in yellow for the students to answer: probably won't be graded, might change later?

keeping below cell just for reference, in case we have advanced/optional sections. delete later!

<div class="alert alert-block alert-success">
    <p style="font-size:20px">This section is advanced/optional
</div>

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">

## Learning Outcomes
Working through this notebook, you will learn about:
1. complete later when sections are establish

Also, may want to add table of contents beneath this section, depending on how long notebook is.

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">

## Review / recap of data collection and previous NB [likely be done by Manaar and/or Zcjanin]

this section will provide a brief recap of the data collection process so far, to discuss how we got from google forms to here and why we want to import the data in a jupyter notebook as compared to other mediums / what we can accomplish with it. may also be good to quickly discuss implications of the data collection / inputting process.

want this section to be pretty short -- dont want a wall of text!

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">

## Importing and Taking an Initial Look at the Data (manaar will do?)

description of the steps we need to take to read_table to create a datascience table to look at our data in tabular format.

first, import libraries (note: add any additional libraries you use in your code here! good to keep it all in one place), then read table:

In [3]:
import numpy as np
from datascience import *
import otter
grader = otter.Notebook()
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use("fivethirtyeight")
import seaborn as sns, plotly.express as px

In [4]:
emissions = Table.read_table('emissions.csv')
emissions

Index | Company Name         | Company Sector          | Company Sector (Other)      | Year of CDP Disclosure | Scope 1 value | Scope 2 value (location-based) | Scope 2 value (market-based) | Scope 3 value | Total Revenue | Currency of Total Revenue | Internal Price on Carbon (Y/N) | Price
0     | ADIDAS               | APPAREL & FOOTWEAR      | nan                         | 2022                   | 12908.4       | nan                            | 125502                       | 7.25451e+06   | 2.1234e+10    | EUR                       | Yes                            | 85
1     | ADIDAS               | APPAREL & FOOTWEAR      | nan                         | 2022                   | 12908.4       | nan                            | 125502                       | 7.25451e+06   | 2.1234e+10    | EUR                       | Yes                            | 85
2     | ADIDAS               | APPAREL & FOOTWEAR      | nan                         | 2022                   | 12908.4       | nan                            | 125502                       | 7.25451e+06   | 2.1234e+10    | EUR                       | Yes                            | 85
3     | AHOLD DELHAIZE       | CONSUMER PACKAGED GOODS | GROCERY / FOOD DISTRIBUTION | 2022                   | 1.728e+06     | 1.748e+06                      | 1.099e+06                    | 6.59304e+07   | 75600         | EUR                       | Yes                            | 150
4     | AIR FRANCE-KLM       | TRANSPORTATION          | nan                         | 2022                   | 1.63363e+07   | nan                            | 19104.7                      | 8.70067e+06   | 1.4315e+10    | EUR                       | Yes                            | nan
5     | AIRBUS               | OTHER                   | ROLLING STOCK MANUFACTURER  | 2022                   | 561737        | 339313                         | 265016                       | 4.76092e+08   | 52856         | EUR                       | Yes                            | 150
6     | ALBERTSONS COMPANIES | CONSUMER PACKAGED GOODS | GROCERY / FOOD DISTRIBUTION | 2022                   | 2.76738e+06   | 1.66352e+06                    | 1.64609e+06                  | 7.50445e+06   | 6.96904e+10   | USD                       | No                             | nan
7     | ALLY FINANCIAL       | OTHER                   | FINANCE / BANKING           | 2022                   | 4228          | 9758                           | 0                            | 13986         | 8.381e+09     | USD                       | No                             | nan
8     | ALSTOM               | OTHER                   | AEROSPACE                   | 2022                   | 107073        | 144632                         | 121789                       | 3.34293e+07   | 1.5741e+10    | EUR                       | No                             | nan
9     | AMCOR                | CONSUMER PACKAGED GOODS | nan                         | 2022                   | 529192        | 1.43269e+06                    | 1.43208e+06                  | 1.96516e+07   | 1.2861e+10    | USD                       | No                             | nan
... (146 rows omitted)

### data dictionary

probably be done by Manaar / Zcjanin, can leave this alone for now

|column name| meaning |type|
|--|--|--|
|total|total cost of the bill |number |
|tip|the tip left by the party |number |
|sex|sex of the person paying |category |
|smoker|if the person paying was smoking |category |
|day|day of the week |category |
|time|meal (e.g., Lunch, Dinner, etc.) |category |
|size|how many people were in the party |number |

Next, have a small section looking into certain basic summary statistics like num_rows and num_cols and labels

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">

## Table Operations: `select`, `where`, `sort`

As we've seen in **Notebook 2**, there are some interesting table operations that allow us to begin exploring and analyzing our data. We showed you some examples and now it's your turn to try out these methods! 

For the exercises below, you will fill in the necessary code to create the desired tables. If you get stuck, feel free to reference the code in Notebook 2

**Reminders:** text values/column names should be in quotation marks while integers are not and run your code cells after you answer the exercises

### 1.1: Selecting Columns

Sometimes, we only want certain information from our table. In the question below, you will be using the `select` method to choose which columns of the `emissions` table we want.

For reference, to use the `select` method it should look something like: `tbl.select(col1_name, col2_name, ...)` for however many columns we want our table to have.

<!-- BEGIN QUESTION -->
<div class="alert alert-warning">

### Question 1.1:
In the cell below, use `select` to create a table with the company's name, their year of disclosure, and their total revenue.
</div>

In [ ]:
# Replace ... with the necessary column name(s)
emissions.select(...)

<!-- END QUESTION -->

### 1.2: Conditioning on Rows

When we want to focus on rows that meet some condition, we can use the `where` method. In the exercise below, you will use the `where` method to create a table that displays **only** rows that meet a certain condition.

For reference, to use the `where` method it should look something like: `tbl.where(col1_name, predicate_fuction)` where the `predicate_function` describes the criterion that the column's values should meet.

Here are some helpful predicate functions you *may* need that describe the criterion the column must meet:

|Predicate|Example|Result|
|-|-|-|
|`are.equal_to`|`are.equal_to(50)`|Find rows with values equal to 50|
|`are.not_equal_to`|`are.not_equal_to(50)`|Find rows with values not equal to 50|
|`are.above`|`are.above(50)`|Find rows with values above (and not equal to) 50|
|`are.above_or_equal_to`|`are.above_or_equal_to(50)`|Find rows with values above 50 or equal to 50|
|`are.below`|`are.below(50)`|Find rows with values below 50|
|`are.between`|`are.between(2, 10)`|Find rows with values above or equal to 2 and below 10|
|`are.between_or_equal_to`|`are.between_or_equal_to(2, 10)`|Find rows with values above or equal to 2 and below or equal to 10|

<!-- BEGIN QUESTION -->
<div class="alert alert-warning">

### Question 1.2:
In the cell below, use `where` to create a table that only includes companies whose total revenue ranges from 50,000 to 3,000,000 in their respective currency.
</div>

In [10]:
# Replace ... with the appropriate column name and condition
emissions.where(..., ...)

Index | Company Name         | Company Sector          | Company Sector (Other)      | Year of CDP Disclosure | Scope 1 value | Scope 2 value (location-based) | Scope 2 value (market-based) | Scope 3 value | Total Revenue | Currency of Total Revenue | Internal Price on Carbon (Y/N) | Price
3     | AHOLD DELHAIZE       | CONSUMER PACKAGED GOODS | GROCERY / FOOD DISTRIBUTION | 2022                   | 1.728e+06     | 1.748e+06                      | 1.099e+06                    | 6.59304e+07   | 75600         | EUR                       | Yes                            | 150
5     | AIRBUS               | OTHER                   | ROLLING STOCK MANUFACTURER  | 2022                   | 561737        | 339313                         | 265016                       | 4.76092e+08   | 52856         | EUR                       | Yes                            | 150
81    | LEVI STRAUSS & CO.   | APPAREL & FOOTWEAR      | nan                         | 2022                   | 2908          | nan                            | nan                          | 129904        | 589937        | USD                       | Yes                            | nan
84    | LYMI DBA REFORMATION | APPAREL & FOOTWEAR      | nan                         | 2022                   | 84            | 321                            | nan                          | 33622         | 1.71381e+06   | USD                       | No                             | nan
85    | LYMI DBA REFORMATION | APPAREL & FOOTWEAR      | nan                         | 2022                   | 84            | 321                            | 0                            | 22773         | 1.71381e+06   | USD                       | No                             | nan
88    | MERCEDES-BENZ        | TRANSPORTATION          | nan                         | 2022                   | 681000        | 1.444e+06                      | 1.273e+06                    | 2.44516e+08   | 1.46906e+06   | EUR                       | Yes                            | 475
91    | NESTLE               | FOOD & AGRICULTURE      | nan                         | 2022                   | 3.372e+06     | 2.6e+06                        | 1.61e+06                     | 1.1372e+08    | 87088         | CHF                       | No                             | nan
92    | NESTLE               | FOOD & AGRICULTURE      | nan                         | 2022                   | 3.372e+06     | 2.6e+06                        | 1.61e+06                     | 1.1372e+08    | 87088         | CHF                       | No                             | nan
112   | REFORMATION          | APPAREL & FOOTWEAR      | nan                         | 2022                   | 84            | 321                            | 0                            | 33622         | 1.71381e+06   | USD                       | No                             | nan
113   | REFORMATION          | APPAREL & FOOTWEAR      | nan                         | 2022                   | 84            | 321                            | 0                            | 33622         | 1.71381e+06   | USD                       | No                             | nan
... (8 rows omitted)

<!-- END QUESTION -->

### 1.3: Sorting Values

Sorting values can reveal interesting patterns. In the exercise below, you will use the `sort` method to sort a specific column's values in either ascending or descending order. 

For reference, to use the `sort` method it should look something like: `tbl.sort(col1_name)` to sort in **ascending order** and `tbl.sort(col1_name, descending=True)` to sort in **descending order**.

<!-- BEGIN QUESTION -->
<div class="alert alert-warning">

### Question 1.3.1:
Using `sort`, sort the emissions table to be able to find the company with the highest total revenue (sort total revenue from higest to lowest).
</div>

In [3]:
# Replace ... with the necessary code
emissions.sort(...)

Index | Company Name             | Company Sector          | Company Sector (Other) | Year of CDP Disclosure | Scope 1 value | Scope 2 value (location-based) | Scope 2 value (market-based) | Scope 3 value | Total Revenue | Currency of Total Revenue | Internal Price on Carbon (Y/N) | Price
107   | PJSC LUKOIL              | ENERGY                  | nan                    | 2022                   | 3.63883e+07   | 5.10258e+06                    | nan                          | 3.51541e+08   | 9.435e+12     | RUB                       | Yes                            | 6711
15    | AMOREPACIFIC             | OTHER                   | COSMETICS              | 2022                   | 10963         | nan                            | 36740                        | 7321          | 4.8631e+12    | KRW                       | Yes                            | 20000
67    | HOTEL LOTTE              | OTHER                   | HOSPITALITY            | 2022                   | 48664.8       | 110841                         | nan                          | 76061.2       | 4.59667e+12   | KRW                       | Yes                            | 30000
46    | FILA HOLDINGS            | APPAREL & FOOTWEAR      | nan                    | 2022                   | 1245.9        | 3005.5                         | nan                          | 0             | 3.794e+12     | KRW                       | No                             | nan
143   | TOYOTA MOTOR CORPORATION | TRANSPORTATION          | nan                    | 2022                   | 2.56e+06      | 3.9e+06                        | 3.69e+06                     | 3.7334e+08    | 2.9956e+12    | JPY                       | Yes                            | 50000
155   | WALMART                  | CONSUMER PACKAGED GOODS | nan                    | 2022                   | 7.31224e+06   | 9.47517e+06                    | 6.54417e+06                  | 2.13846e+08   | 5.72754e+11   | USD                       | No                             | nan
126   | SHELL                    | ENERGY                  | nan                    | 2022                   | 6e+07         | 9e+06                          | 8e+06                        | 1.32889e+09   | 3.813e+11     | USD                       | Yes                            | 125
121   | SHELL                    | ENERGY                  | nan                    | 2022                   | 6e+07         | 9e+06                          | 8e+06                        | 1.32889e+09   | 2.61504e+11   | USD                       | Yes                            | 125
122   | SHELL                    | ENERGY                  | nan                    | 2022                   | 6e+07         | 9e+06                          | 8e+06                        | 1.90001e+14   | 2.61504e+11   | USD                       | Yes                            | 125
123   | SHELL                    | ENERGY                  | nan                    | 2022                   | 6e+07         | 9e+06                          | 8e+06                        | 1.32889e+09   | 2.61504e+11   | USD                       | Yes                            | 125
... (146 rows omitted)

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->
<div class="alert alert-warning">

### Question 1.3.2:
Using `sort`, sort the emissions table to be able to find the company with the lowest scope 1 value (sort scope 1 value from lowest to highest).
</div>

In [ ]:
# Replace ... with the necessary code
emissions.sort(...)

<!-- END QUESTION -->

<div class="alert alert-block alert-success">
    <p style="font-size:20px">This section is advanced/optional
</div>

### 1.4: Putting it all together

You've worked with `select`, `where`, and `sort` individually -- but you could also use them together. Now, it's time to try out using all the methods together! In the exercise below, you will fill in the necessary code to create the desired table. 

**This sections deals with chaining together methods. This is a more complex topic, so it's okay if you don't understand. The exercise below is optional. Feel free to try it out if you want!**

<!-- BEGIN QUESTION -->
<div class="alert alert-warning">

### Question 1.4:
Using `select`, `where`, and `sort` to create a table that displays the comany name, their sector (including the 'Company Sector (Other)' column), and their total revenue for companies whose total revenue is below $100,000,000. Sort this table by total revenue in ascending order.

In [9]:
# Replace ... with the necessary column names and conditions
(emissions.select(...)
            .where(..., ...)
            .sort(...))

Company Name           | Company Sector          | Company Sector (Other)      | Total Revenue
J.P.MORGAN CHASE & CO. | OTHER                   | FINANCE / BANKING           | 0
HELEN OF TROY          | CONSUMER PACKAGED GOODS | nan                         | 2223.36
CLIF BAR & COMPANY     | FOOD & AGRICULTURE      | nan                         | 15262
AIRBUS                 | OTHER                   | ROLLING STOCK MANUFACTURER  | 52856
AHOLD DELHAIZE         | CONSUMER PACKAGED GOODS | GROCERY / FOOD DISTRIBUTION | 75600
NESTLE                 | FOOD & AGRICULTURE      | nan                         | 87088
NESTLE                 | FOOD & AGRICULTURE      | nan                         | 87088
LEVI STRAUSS & CO.     | APPAREL & FOOTWEAR      | nan                         | 589937
TJX INDUSTRIES         | APPAREL & FOOTWEAR      | nan                         | 1.15635e+06
MERCEDES-BENZ          | TRANSPORTATION          | nan                         | 1.46906e+06
... (19 rows omitted)

<!-- END QUESTION -->

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">

## more advanced table functions: apply, group, pivot (if applicable)

similar structure to previous section: total freedom with what you want to explore or emphasize! just show the student an example first and then ask them questions. Similar to tasks in NB2, instead we only want to show 1-2 examples (as a refresher from NB2 -- they should be able to utilize NB2 as a reference). section should mostly consist of about 3-5 questions. 

can have 1-2 questions where you ask a direct question ("apply this function to this column in the table") and another 1-2 where you provide the scaffolding for them and give them a chance to explore / apply / group / pivot on whatever columns or rows they want. see the example question below:

**Note:** we want to include some tabular data looking at the data grouped by the Sector attribute

note: can also add section subheadings if you want to break it up into apply, group, and pivot; example:

### section_number.subsection_number: Applying Functions

question formatting:

<!-- BEGIN QUESTION -->
<div class="alert alert-warning">

### Question section_number.question_number:
Group the data by whatever column you would like in order to find an intriguing trend. Then, explain what you did and anything you found interesting about it.
</div>

In [ ]:
emissions.group(...)

*Type your answer here. Double-click to edit this cell and replace this text with your answer. Run this cell to proceed when finished.*

note: the END QUESTION tag for the otter pdf generator is in the blank cell right below this one! You need a BEGIN QUESTION and END QUESTION tag for every question.

<!-- END QUESTION -->

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">

## visualizations (probably a large section, 2 devs)

this section is probably going to be a bigger one, since its a lot more interesting for the students to analyze the data through visualizations than just in the table --> can use datascience plotting, seaborn, or plotly, just like notebook 1 showed.

**Note:** we want to include some visualizations looking at the data grouped by the Sector attribute; also, I've kept the plotting section from the previous section below as a small reference / source of inspiration! we'll delete it later

some of the visualizations you create might be difficult, because the data has to be cleaned up first. that's fine, just keep whatever visualizations you make that you think could be interesting and i'll filter through them as we're finishing the notebook

remember, students probably arent that familiar with python: use a lot of fill in the ... questions and only very basic do it yourself questions. always give them an example before asking them to do it themselves!

also, add widgets if you are able to! those would be great for comparisons

Similar to tasks in NB2, instead we only want to show 1-2 examples (as a refresher from NB2 -- they should be able to utilize NB2 as a reference). section should mostly consist of about 3-5 questions. 

can have 1-2 questions where you ask a direct question ("create a scatter plot of these columns") and another 1-2 where you provide the scaffolding for them and give them a chance to explore / visualize whatever columns or rows they want. see the example question below:

note: can also add section subheadings if you want to break it up into different sections / exploring different features of the data; example:

### section_number.subsection_number: Visualizing by Sector

question formatting:

<!-- BEGIN QUESTION -->
<div class="alert alert-warning">

### Question section_number.question_number:
Create a graph of whichever columns you would like to explore further. Then, explain your decision and any interesting trends you found in the text cell below.
</div>

In [ ]:
emissions...(...)

*Type your answer here. Double-click to edit this cell and replace this text with your answer. Run this cell to proceed when finished.*

note: the END QUESTION tag for the otter pdf generator is in the blank cell right below this one! You need a BEGIN QUESTION and END QUESTION tag for every question.

<!-- END QUESTION -->

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">

## Plotting [Reference - will be deleted later]

While knowing the average, the largest, and the smallest values are useful, they don't tell us the whole story. Along with this, just looking at a bunch of numbers isn't always fun or efficient. To further expand on our analysis, let's make some visualizations of our data!

Fortunately, in Python, there are lots of functions that can do this for us. We'll examine a few below.

### Histogram
The `hist` function will plot a [histogram](https://en.wikipedia.org/wiki/Histogram) of the column you specify.

In [ ]:
tips.hist("total", bins=np.arange(0, 60, 5))

### Scatter Plot

The `scatter` function makes a [scatter plot](https://en.wikipedia.org/wiki/Scatter_plot), where the first parameter below (`total`) is the column we want to display on the x-axis, and the second parameter (`tip`) is the column we want to display on the y-axis.

In [ ]:
tips.scatter("total", "tip")

### Interactive Visualizations

<div class="alert alert-block alert-success">
    <p style="font-size:20px">This section is advanced/optional
</div>

The plots above are great, and are suitible for almost all cases. However, we can take it one step further by creating an interactive plot! We can do this with the `plotly` library. In these plots you can hover your mouse over data, and information about it will pop up!

Don't worry about understanding the code below, just check out the cool visualizations, and try hovering over the data with your mouse in different spots. 

Check out the comments for a description of the visualizations.

In [ ]:
px.histogram(x=tips.column("total"), title="Histogram of Total Bill Amounts", 
             template = "seaborn", labels={"x":"Total Bill Amounts", "y":"Count"},
             width = 600, height = 400, nbins=20)
# Plots a histogram of the total bill amounts

In [ ]:
px.histogram(x=tips.column("time"), y=tips.column("tip"), color = tips.column("time"), 
             template = "seaborn", title = "Average Tips by Meal", labels = {"x": "Day", "y": "Tips"},
             histfunc = "avg", width = 600, height = 400)
# Plots a bar chart of the tips by meal

In [ ]:
px.histogram(x=tips.column("day"), y=tips.column("tip"), color = tips.column("day"), 
             template = "seaborn", title = "Tips by Day", labels = {"x": "Day", "y": "Tips"},
             width = 600, height = 400)
# Plots a bar chart of the tips by day

In [ ]:
px.scatter(x=tips.column("total"), y=tips.column("tip"), 
           title="Scatter Plot of Total Bill Amounts vs. Tip Amounts", template = "seaborn",
           labels = {"x": "Total Bill Amount", "y": "Tip Amount"},
           width=500, height=500)
# Plots a scatter plot of the total bill amounts vs. the tip amounts

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">

**to do for Manaar**: potentially add pdf generator if necessary; if not, take out otter grader stuff. also potentially add data science resources section

## Conclusion

In this notebook, you've learned quite a bit, below is a summary of the topics we have covered:
- Jupyter Notebooks
    - History of Jupyter
    - Structure of a Notebook
    - Editing a notebook
- Python 
    - Math
    - Strings
    - Errors
    - Variables
    - Lists
    - Functions
    - Loops
    - Modules
    - Dot Notation
- Tables
    - Loading a Table
    - Context of a Table
    - Size of a Table
    - Selecting Columns
    - Sorting Tables
- Columns
    - Statistics of Columns
- Plotting
    - Histograms
    - Scatter Plots
    - Interactive Plots

<h3>Congratulations on finishing the notebook!</h3>

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">

## A Final Request: Feedback Form

<div class="alert alert-block alert-info">
    <p style="font-size:20px">We encourage students to fill out the following feedback form to share your experience with this Module created notebook. This feedback form will take no longer than 5 minutes. At UC Berkeley Data Science Undergraduate Studies – Modules, we appreciate all feedback to improve the learning of students and experience utilizing Jupyter Notebooks for Data Science Education. You can fill out the survey by running the below and clicking the button that appears. Thank you in advance for your time!
</div>

In [ ]:
feedback_button()