## [ESPM-136] Notebook 2: Company Emissions Exploratory Data Analysis (EDA)

## **Introduction Section here**

Discuss overview of notebook and what students can take away from it here. Can also provide any relevant resources here.

need to also mention that this notebook has questions that are bolded in yellow for the students to answer: probably won't be graded, might change later?

keeping below cell just for reference, in case we have advanced/optional sections. delete later!

<div class="alert alert-block alert-success">
    <p style="font-size:20px">This section is advanced/optional
</div>

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">

## Learning Outcomes
Working through this notebook, you will learn about:
1. complete later when sections are establish

Also, may want to add table of contents beneath this section, depending on how long notebook is.

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">

## Review / recap of data collection [likely be done by Manaar and/or Zcjanin]

this section will provide a brief recap of the data collection process so far, to discuss how we got from google forms to here and why we want to import the data in a jupyter notebook as compared to other mediums / what we can accomplish with it. may also be good to quickly discuss implications of the data collection / inputting process.

want this section to be pretty short -- dont want a wall of text!

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">

## Importing and Taking an Initial Look at the Data (manaar will do?)

description of the steps we need to take to read_table to create a datascience table to look at our data in tabular format.

first, import libraries (note: add any additional libraries you use in your code here! good to keep it all in one place), then read table:

In [1]:
import numpy as np
from datascience import *
import otter
grader = otter.Notebook()
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use("fivethirtyeight")
import seaborn as sns, plotly.express as px

In [2]:
emissions = Table.read_table('emissions.csv')
emissions

Index | Company Name         | Company Sector          | Company Sector (Other)      | Year of CDP Disclosure | Scope 1 value | Scope 2 value (location-based) | Scope 2 value (market-based) | Scope 3 value | Total Revenue | Currency of Total Revenue | Internal Price on Carbon (Y/N) | Price
0     | ADIDAS               | APPAREL & FOOTWEAR      | nan                         | 2022                   | 12908.4       | nan                            | 125502                       | 7.25451e+06   | 2.1234e+10    | EUR                       | Yes                            | 85
1     | ADIDAS               | APPAREL & FOOTWEAR      | nan                         | 2022                   | 12908.4       | nan                            | 125502                       | 7.25451e+06   | 2.1234e+10    | EUR                       | Yes                            | 85
2     | ADIDAS               | APPAREL & FOOTWEAR      | nan                         | 2022                   | 12908.4       | nan                            | 125502                       | 7.25451e+06   | 2.1234e+10    | EUR                       | Yes                            | 85
3     | AHOLD DELHAIZE       | CONSUMER PACKAGED GOODS | GROCERY / FOOD DISTRIBUTION | 2022                   | 1.728e+06     | 1.748e+06                      | 1.099e+06                    | 6.59304e+07   | 75600         | EUR                       | Yes                            | 150
4     | AIR FRANCE-KLM       | TRANSPORTATION          | nan                         | 2022                   | 1.63363e+07   | nan                            | 19104.7                      | 8.70067e+06   | 1.4315e+10    | EUR                       | Yes                            | nan
5     | AIRBUS               | OTHER                   | ROLLING STOCK MANUFACTURER  | 2022                   | 561737        | 339313                         | 265016                       | 4.76092e+08   | 52856         | EUR                       | Yes                            | 150
6     | ALBERTSONS COMPANIES | CONSUMER PACKAGED GOODS | GROCERY / FOOD DISTRIBUTION | 2022                   | 2.76738e+06   | 1.66352e+06                    | 1.64609e+06                  | 7.50445e+06   | 6.96904e+10   | USD                       | No                             | nan
7     | ALLY FINANCIAL       | OTHER                   | FINANCE / BANKING           | 2022                   | 4228          | 9758                           | 0                            | 13986         | 8.381e+09     | USD                       | No                             | nan
8     | ALSTOM               | OTHER                   | AEROSPACE                   | 2022                   | 107073        | 144632                         | 121789                       | 3.34293e+07   | 1.5741e+10    | EUR                       | No                             | nan
9     | AMCOR                | CONSUMER PACKAGED GOODS | nan                         | 2022                   | 529192        | 1.43269e+06                    | 1.43208e+06                  | 1.96516e+07   | 1.2861e+10    | USD                       | No                             | nan
... (146 rows omitted)

### data dictionary

probably be done by Manaar / Zcjanin, can leave this alone for now

|column name| meaning |type|
|--|--|--|
|total|total cost of the bill |number |
|tip|the tip left by the party |number |
|sex|sex of the person paying |category |
|smoker|if the person paying was smoking |category |
|day|day of the week |category |
|time|meal (e.g., Lunch, Dinner, etc.) |category |
|size|how many people were in the party |number |

Next, have a small section looking into certain basic summary statistics like num_rows and num_cols and labels

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">

## Table Operations: `select`, `where`, `sort`

Now that we have learned how to import our data from a csv, we can begin doing some interesting exploratory data analysis to see what information our data can tell us! Oftentimes, our data has a lot more information than we actually need or it may not be in the correct order. To obtain the data we want, we can use table methods such as `select`, `where`, and `sort` to filter out columns, rows, and sort our data.

### 1.1: Selecting Columns

Sometimes when doing data analysis, we only want to look at a subset of columns. Having too many columns can make the table hard to read if we are only interested in certain information. We can pick which columns we want using the table method `select()`. 

When we call this method, we specify which columns we want and it returns a brand new table with only the specified columns in the order they are inputted. It's important to note the original table **does not** change.

For example, if we wanted to select only the companies and their sector we can run the code below.

In [3]:
emissions.select('Company Name', 'Company Sector')

Company Name         | Company Sector
ADIDAS               | APPAREL & FOOTWEAR
ADIDAS               | APPAREL & FOOTWEAR
ADIDAS               | APPAREL & FOOTWEAR
AHOLD DELHAIZE       | CONSUMER PACKAGED GOODS
AIR FRANCE-KLM       | TRANSPORTATION
AIRBUS               | OTHER
ALBERTSONS COMPANIES | CONSUMER PACKAGED GOODS
ALLY FINANCIAL       | OTHER
ALSTOM               | OTHER
AMCOR                | CONSUMER PACKAGED GOODS
... (146 rows omitted)

### 1.2: Conditioning on Rows

We now know how to select certain columns -- but what if we wanted to select rows that met a certain condition? The `where` method allows us to do exactly this. 

This method takes in two arguments:
   1. The name of the column whose values must meet a certain condition
   2. The predicate function that tells the condition the row must meet
   
For example, if we wanted to only select the rows where the company is H&M we could do the following:

In [4]:
emissions.where('Company Name', are.equal_to('H&M'))

Index | Company Name | Company Sector     | Company Sector (Other) | Year of CDP Disclosure | Scope 1 value | Scope 2 value (location-based) | Scope 2 value (market-based) | Scope 3 value | Total Revenue | Currency of Total Revenue | Internal Price on Carbon (Y/N) | Price
54    | H&M          | APPAREL & FOOTWEAR | nan                    | 2022                   | 21171         | 507170                         | 37394                        | 7.74163e+06   | 1.99e+11      | SEK                       | Yes                            | 0
55    | H&M          | APPAREL & FOOTWEAR | nan                    | 2022                   | 21171         | 507170                         | 37394                        | 7.74163e+06   | 1.99e+11      | SEK                       | Yes                            | 0
56    | H&M          | APPAREL & FOOTWEAR | nan                    | 2022                   | 21171         | 507170                         | 37394                        | 7.74163e+06   | 1.99e+11      | SEK                       | Yes                            | 0
57    | H&M          | APPAREL & FOOTWEAR | nan                    | 2022                   | 21171         | 507170                         | 37394                        | 7.74163e+06   | 1.99e+11      | SEK                       | Yes                            | nan
58    | H&M          | APPAREL & FOOTWEAR | nan                    | 2022                   | 21171         | 507170                         | 37394                        | 5.43711e+06   | 1.99e+11      | SEK                       | Yes                            | 0
59    | H&M          | APPAREL & FOOTWEAR | nan                    | 2022                   | 21171         | 507170                         | 37394                        | 7.74163e+06   | 1.99e+11      | SEK                       | Yes                            | 0
60    | H&M          | APPAREL & FOOTWEAR | nan                    | 2022                   | 21171         | 507170                         | 37394                        | 5.43711e+06   | 1.99e+11      | SEK                       | Yes                            | 0
61    | H&M          | APPAREL & FOOTWEAR | nan                    | 2022                   | 21171         | 507170                         | 37394                        | 5.43711e+06   | 1.99e+11      | SEK                       | Yes                            | 0
62    | H&M          | APPAREL & FOOTWEAR | nan                    | 2022                   | 21171         | 507170                         | 37394                        | 7.73413e+06   | 1.99e+11      | SEK                       | Yes                            | nan
64    | H&M          | APPAREL & FOOTWEAR | nan                    | 2021                   | 21171         | 507170                         | 37394                        | 2.30452e+06   | 2.3e+10       | USD                       | Yes                            | 0

The cell above outputs a copy of the original table but **only includes rows where the company is H&M**. There are many other predicate functions, here are a few common ones you may find useful: 

|Predicate|Example|Result|
|-|-|-|
|`are.equal_to`|`are.equal_to(50)`|Find rows with values equal to 50|
|`are.not_equal_to`|`are.not_equal_to(50)`|Find rows with values not equal to 50|
|`are.above`|`are.above(50)`|Find rows with values above (and not equal to) 50|
|`are.above_or_equal_to`|`are.above_or_equal_to(50)`|Find rows with values above 50 or equal to 50|
|`are.below`|`are.below(50)`|Find rows with values below 50|
|`are.between`|`are.between(2, 10)`|Find rows with values above or equal to 2 and below 10|
|`are.between_or_equal_to`|`are.between_or_equal_to(2, 10)`|Find rows with values above or equal to 2 and below or equal to 10|

### 1.3: Sorting Values

Now that we are able to select the desired columns and rows that we want, we can sort the values in a certain column. The `sort` method accomplishes this if we pass in the column we want to sort. By default, this method sorts a column's values in ascending order unless an *optional* second argument `descending=True` is passed into `sort`.

If we wanted to sort a column that contains text, `sort` will sort the values alphabetically from A-Z (i.e. ascending order). For example:

In [6]:
emissions.sort('Company Sector')

Index | Company Name              | Company Sector     | Company Sector (Other) | Year of CDP Disclosure | Scope 1 value | Scope 2 value (location-based) | Scope 2 value (market-based) | Scope 3 value | Total Revenue | Currency of Total Revenue | Internal Price on Carbon (Y/N) | Price
0     | ADIDAS                    | APPAREL & FOOTWEAR | nan                    | 2022                   | 12908.4       | nan                            | 125502                       | 7.25451e+06   | 2.1234e+10    | EUR                       | Yes                            | 85
1     | ADIDAS                    | APPAREL & FOOTWEAR | nan                    | 2022                   | 12908.4       | nan                            | 125502                       | 7.25451e+06   | 2.1234e+10    | EUR                       | Yes                            | 85
2     | ADIDAS                    | APPAREL & FOOTWEAR | nan                    | 2022                   | 12908.4       | nan                            | 125502                       | 7.25451e+06   | 2.1234e+10    | EUR                       | Yes                            | 85
12    | AMERICAN EAGLE OUTFITTERS | APPAREL & FOOTWEAR | nan                    | 2022                   | 9248          | 53642                          | 40231                        | 1.4793e+06    | 5.01078e+09   | USD                       | No                             | nan
13    | AMERICAN EAGLE OUTFITTERS | APPAREL & FOOTWEAR | nan                    | 2022                   | 9248          | 53642                          | 40231                        | 3.6639e+06    | 5.01078e+09   | USD                       | No                             | nan
16    | ARITZIA                   | APPAREL & FOOTWEAR | nan                    | 2022                   | 1560          | 2936                           | nan                          | 446097        | 1.49463e+09   | CAD                       | No                             | nan
27    | BURBERRY                  | APPAREL & FOOTWEAR | nan                    | 2022                   | 1834          | 25866                          | nan                          | 399973        | 2.826e+09     | GBP                       | Yes                            | 12.87
46    | FILA HOLDINGS             | APPAREL & FOOTWEAR | nan                    | 2022                   | 1245.9        | 3005.5                         | nan                          | 0             | 3.794e+12     | KRW                       | No                             | nan
53    | GIORGIO ARMANI            | APPAREL & FOOTWEAR | nan                    | 2022                   | 4263          | 21614                          | 15306                        | 353442        | 2.05558e+09   | EUR                       | No                             | nan
54    | H&M                       | APPAREL & FOOTWEAR | nan                    | 2022                   | 21171         | 507170                         | 37394                        | 7.74163e+06   | 1.99e+11      | SEK                       | Yes                            | 0
... (146 rows omitted)

Our `emissions` data is already sorted by companty name alphabetically from A-Z. However, if we wanted to sort the company names alphabetically from Z-A (i.e. descending order) we would run the cell below.

In [7]:
emissions.sort('Company Name', descending=True)

Index | Company Name                | Company Sector          | Company Sector (Other) | Year of CDP Disclosure | Scope 1 value | Scope 2 value (location-based) | Scope 2 value (market-based) | Scope 3 value | Total Revenue | Currency of Total Revenue | Internal Price on Carbon (Y/N) | Price
155   | WALMART                     | CONSUMER PACKAGED GOODS | nan                    | 2022                   | 7.31224e+06   | 9.47517e+06                    | 6.54417e+06                  | 2.13846e+08   | 5.72754e+11   | USD                       | No                             | nan
154   | VOLKSWAGEN                  | OTHER                   | AUTOMOTIVE             | 2022                   | 4.74087e+06   | 5.19596e+06                    | 2.42214e+06                  | 3.53561e+09   | 2.502e+11     | EUR                       | Yes                            | 475
153   | VF CORPORATION              | APPAREL & FOOTWEAR      | nan                    | 2022                   | 12551         | 69212                          | 54693                        | 3.37573e+06   | 1.18418e+10   | USD                       | No                             | 0
152   | VESTAS                      | ENERGY                  | nan                    | 2022                   | 99290         | 78640                          | 2673                         | 9.6961e+06    | 1.5587e+10    | EUR                       | Yes                            | 120
151   | VALERO                      | ENERGY                  | nan                    | 2022                   | 2.713e+07     | nan                            | 4.88e+06                     | 0             | 1.76382e+11   | USD                       | No                             | nan
150   | UPS (UNITED PARCEL SERVICE) | TRANSPORTATION          | nan                    | 2022                   | 1.5668e+07    | 676000                         | 654000                       | 1.9486e+07    | 9.6223e+10    | USD                       | No                             | nan
149   | UPFIELD                     | FOOD & AGRICULTURE      | nan                    | 2022                   | 36059         | 77879                          | 27798                        | 2.96321e+06   | 2.793e+09     | EUR                       | No                             | nan
148   | UNILEVER                    | CONSUMER PACKAGED GOODS | nan                    | 2022                   | 565988        | 1.2445e+06                     | 144752                       | 6.14457e+07   | 5.2444e+10    | EUR                       | Yes                            | 70
147   | ULTA BEAUTY                 | OTHER                   | COSMETICS              | 2022                   | 6815          | 114295                         | 107611                       | 1.92119e+06   | 6.152e+09     | USD                       | No                             | nan
144   | TYSON FOODS                 | FOOD & AGRICULTURE      | nan                    | 2022                   | 3.82629e+06   | nan                            | nan                          | 0             | 4.705e+10     | USD                       | No                             | nan
... (146 rows omitted)

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">

## more advanced table functions: apply, group, pivot (if applicable)

similar structure to previous section: total freedom with what you want to explore or emphasize! just show the student an example first and then ask them questions.

**Note:** we want to include some tabular data looking at the data grouped by the Sector attribute

note: can also add section subheadings if you want to break it up into apply, group, and pivot; example:

### section_number.subsection_number: Applying Functions

question formatting:

<!-- BEGIN QUESTION -->
<div class="alert alert-warning">

### Question section_number.question_number:
coding or short answer question here
</div>

for short answers:

*Type your answer here. Double-click to edit this cell and replace this text with your answer. Run this cell to proceed when finished.*

for coding

In [ ]:
emissions.group(...) # Fill in the ellipsis with blah blah blah

note: the END QUESTION tag for the otter pdf generator is in the blank cell right below this one! You need a BEGIN QUESTION and END QUESTION tag for every question.

<!-- END QUESTION -->

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">

## visualizations (probably a large section, 2 devs)

this section is probably going to be a bigger one, since its a lot more interesting for the students to analyze the data through visualizations than just in the table --> can use datascience plotting, seaborn, or plotly, just like notebook 1 showed.

**Note:** we want to include some visualizations looking at the data grouped by the Sector attribute; also, I've kept the plotting section from the previous section below as a small reference / source of inspiration! we'll delete it later

some of the visualizations you create might be difficult, because the data has to be cleaned up first. that's fine, just keep whatever visualizations you make that you think could be interesting and i'll filter through them as we're finishing the notebook

remember, students probably arent that familiar with python: use a lot of fill in the ... questions and only very basic do it yourself questions. always give them an example before asking them to do it themselves!

also, add widgets if you are able to! those would be great for comparisons

note: can also add section subheadings if you want to break it up into different sections / exploring different features of the data; example:

### section_number.subsection_number: Visualizing by Sector

question formatting:

<!-- BEGIN QUESTION -->
<div class="alert alert-warning">

### Question section_number.question_number:
coding or short answer question here
</div>

for short answers:

*Type your answer here. Double-click to edit this cell and replace this text with your answer. Run this cell to proceed when finished.*

for coding

In [ ]:
emissions.group(...) # Fill in the ellipsis with blah blah blah

note: the END QUESTION tag for the otter pdf generator is in the blank cell right below this one! You need a BEGIN QUESTION and END QUESTION tag for every question.

<!-- END QUESTION -->

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">

## Plotting [Reference - will be deleted later]

While knowing the average, the largest, and the smallest values are useful, they don't tell us the whole story. Along with this, just looking at a bunch of numbers isn't always fun or efficient. To further expand on our analysis, let's make some visualizations of our data!

Fortunately, in Python, there are lots of functions that can do this for us. We'll examine a few below.

### Histogram
The `hist` function will plot a [histogram](https://en.wikipedia.org/wiki/Histogram) of the column you specify.

In [ ]:
tips.hist("total", bins=np.arange(0, 60, 5))

### Scatter Plot

The `scatter` function makes a [scatter plot](https://en.wikipedia.org/wiki/Scatter_plot), where the first parameter below (`total`) is the column we want to display on the x-axis, and the second parameter (`tip`) is the column we want to display on the y-axis.

In [ ]:
tips.scatter("total", "tip")

### Interactive Visualizations

<div class="alert alert-block alert-success">
    <p style="font-size:20px">This section is advanced/optional
</div>

The plots above are great, and are suitible for almost all cases. However, we can take it one step further by creating an interactive plot! We can do this with the `plotly` library. In these plots you can hover your mouse over data, and information about it will pop up!

Don't worry about understanding the code below, just check out the cool visualizations, and try hovering over the data with your mouse in different spots. 

Check out the comments for a description of the visualizations.

In [ ]:
px.histogram(x=tips.column("total"), title="Histogram of Total Bill Amounts", 
             template = "seaborn", labels={"x":"Total Bill Amounts", "y":"Count"},
             width = 600, height = 400, nbins=20)
# Plots a histogram of the total bill amounts

In [ ]:
px.histogram(x=tips.column("time"), y=tips.column("tip"), color = tips.column("time"), 
             template = "seaborn", title = "Average Tips by Meal", labels = {"x": "Day", "y": "Tips"},
             histfunc = "avg", width = 600, height = 400)
# Plots a bar chart of the tips by meal

In [ ]:
px.histogram(x=tips.column("day"), y=tips.column("tip"), color = tips.column("day"), 
             template = "seaborn", title = "Tips by Day", labels = {"x": "Day", "y": "Tips"},
             width = 600, height = 400)
# Plots a bar chart of the tips by day

In [ ]:
px.scatter(x=tips.column("total"), y=tips.column("tip"), 
           title="Scatter Plot of Total Bill Amounts vs. Tip Amounts", template = "seaborn",
           labels = {"x": "Total Bill Amount", "y": "Tip Amount"},
           width=500, height=500)
# Plots a scatter plot of the total bill amounts vs. the tip amounts

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">

**to do for Manaar**: potentially add pdf generator if necessary; if not, take out otter grader stuff. also potentially add data science resources section

## Conclusion

In this notebook, you've learned quite a bit, below is a summary of the topics we have covered:
- Jupyter Notebooks
    - History of Jupyter
    - Structure of a Notebook
    - Editing a notebook
- Python 
    - Math
    - Strings
    - Errors
    - Variables
    - Lists
    - Functions
    - Loops
    - Modules
    - Dot Notation
- Tables
    - Loading a Table
    - Context of a Table
    - Size of a Table
    - Selecting Columns
    - Sorting Tables
- Columns
    - Statistics of Columns
- Plotting
    - Histograms
    - Scatter Plots
    - Interactive Plots

<h3>Congratulations on finishing the notebook!</h3>

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">

## A Final Request: Feedback Form

<div class="alert alert-block alert-info">
    <p style="font-size:20px">We encourage students to fill out the following feedback form to share your experience with this Module created notebook. This feedback form will take no longer than 5 minutes. At UC Berkeley Data Science Undergraduate Studies  Modules, we appreciate all feedback to improve the learning of students and experience utilizing Jupyter Notebooks for Data Science Education. You can fill out the survey by running the below and clicking the button that appears. Thank you in advance for your time!
</div>

In [ ]:
feedback_button()