## [ESPM-136] Notebook 2: Company Emissions Exploratory Data Analysis (EDA)

## **Introduction Section here**

Discuss overview of notebook and what students can take away from it here. Can also provide any relevant resources here.

need to also mention that this notebook has questions that are bolded in yellow for the students to answer: probably won't be graded, might change later?

keeping below cell just for reference, in case we have advanced/optional sections. delete later!

<div class="alert alert-block alert-success">
    <p style="font-size:20px">This section is advanced/optional
</div>

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">

## Learning Outcomes
Working through this notebook, you will learn about:
1. complete later when sections are establish

Also, may want to add table of contents beneath this section, depending on how long notebook is.

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">

## Review / recap of data collection [likely be done by Manaar and/or Zcjanin]

this section will provide a brief recap of the data collection process so far, to discuss how we got from google forms to here and why we want to import the data in a jupyter notebook as compared to other mediums / what we can accomplish with it. may also be good to quickly discuss implications of the data collection / inputting process.

want this section to be pretty short -- dont want a wall of text!

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">

## Importing and Taking an Initial Look at the Data (manaar will do?)

description of the steps we need to take to read_table to create a datascience table to look at our data in tabular format.

first, import libraries (note: add any additional libraries you use in your code here! good to keep it all in one place), then read table:

In [3]:
!pip3 install seaborn

Collecting seaborn
  Obtaining dependency information for seaborn from https://files.pythonhosted.org/packages/7b/e5/83fcd7e9db036c179e0352bfcd20f81d728197a16f883e7b90307a88e65e/seaborn-0.13.0-py3-none-any.whl.metadata
  Downloading seaborn-0.13.0-py3-none-any.whl.metadata (5.3 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from seaborn) (1.25.2)
Requirement already satisfied: pandas>=1.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from seaborn) (2.1.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.3 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from seaborn) (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (4.42.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (10.0.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.3->seaborn) (1.16.0)
Downloading seaborn-0.13.0-py3-none-any.whl (294 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 294.6/294.6 kB 2.2 MB/s eta 0:00:00a 0:00:01
Installing collected packages: seaborn
Successfully installed seaborn-0.13.0

In [3]:
import numpy as np
from datascience import *
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use("fivethirtyeight")
import seaborn as sns, plotly.express as px

In [4]:
emissions = Table.read_table('emissions.csv')
emissions

Index | Company Name         | Company Sector          | Company Sector (Other)      | Year of CDP Disclosure | Scope 1 value | Scope 2 value (location-based) | Scope 2 value (market-based) | Scope 3 value | Total Revenue | Currency of Total Revenue | Internal Price on Carbon (Y/N) | Price
0     | ADIDAS               | APPAREL & FOOTWEAR      | nan                         | 2022                   | 12908.4       | nan                            | 125502                       | 7.25451e+06   | 2.1234e+10    | EUR                       | Yes                            | 85
1     | ADIDAS               | APPAREL & FOOTWEAR      | nan                         | 2022                   | 12908.4       | nan                            | 125502                       | 7.25451e+06   | 2.1234e+10    | EUR                       | Yes                            | 85
2     | ADIDAS               | APPAREL & FOOTWEAR      | nan                         | 2022                   | 12908.4       | nan                            | 125502                       | 7.25451e+06   | 2.1234e+10    | EUR                       | Yes                            | 85
3     | AHOLD DELHAIZE       | CONSUMER PACKAGED GOODS | GROCERY / FOOD DISTRIBUTION | 2022                   | 1.728e+06     | 1.748e+06                      | 1.099e+06                    | 6.59304e+07   | 75600         | EUR                       | Yes                            | 150
4     | AIR FRANCE-KLM       | TRANSPORTATION          | nan                         | 2022                   | 1.63363e+07   | nan                            | 19104.7                      | 8.70067e+06   | 1.4315e+10    | EUR                       | Yes                            | nan
5     | AIRBUS               | OTHER                   | ROLLING STOCK MANUFACTURER  | 2022                   | 561737        | 339313                         | 265016                       | 4.76092e+08   | 52856         | EUR                       | Yes                            | 150
6     | ALBERTSONS COMPANIES | CONSUMER PACKAGED GOODS | GROCERY / FOOD DISTRIBUTION | 2022                   | 2.76738e+06   | 1.66352e+06                    | 1.64609e+06                  | 7.50445e+06   | 6.96904e+10   | USD                       | No                             | nan
7     | ALLY FINANCIAL       | OTHER                   | FINANCE / BANKING           | 2022                   | 4228          | 9758                           | 0                            | 13986         | 8.381e+09     | USD                       | No                             | nan
8     | ALSTOM               | OTHER                   | AEROSPACE                   | 2022                   | 107073        | 144632                         | 121789                       | 3.34293e+07   | 1.5741e+10    | EUR                       | No                             | nan
9     | AMCOR                | CONSUMER PACKAGED GOODS | nan                         | 2022                   | 529192        | 1.43269e+06                    | 1.43208e+06                  | 1.96516e+07   | 1.2861e+10    | USD                       | No                             | nan
... (146 rows omitted)

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">

## 2. More Advanced table Operation: `apply`, `group`, `pivot`

Now that we have learned how to get the data we want from the dataset and how to format it to our preferences, we can start exploring more advanced techniques such as applying functions to data, grouping data based on specific criteria, and pivoting data to reshape it for advanced analysis and visualization.

### 1.1 Apply

The apply function in Python applies a function to each element of a data structure and return a new serie or dataframe. When we call this function, we need to specify the function we are using and which column(s) we are applying it to. This function can be used in a lot of different scenarios, and we will be talking about two of them in this lab.

**First of all**, we can use the apply function to change each element in a numerical variable with the same calculation process. For example, you can notice that the currency of total revenue are in different currency, which can make future analysis become difficult. As a result, we would like to implement a function to the "Total Revenue" column that changes all the currency to USD

In [5]:
#First of all, we want to know what are the currencies in this dataset
np.unique(emissions['Currency of Total Revenue'])

array(['AUD', 'CAD', 'CHF', 'DKK', 'EUR', 'GBP', 'JPY', 'KRW', 'NOK',
       'RUB', 'SEK', 'USD'],
      dtype='<U3')

In [6]:
#Then let's create a new column with both the revenue and its currency in the format of [Currency, Revenue]
combined = [[emissions['Currency of Total Revenue'][i], emissions['Total Revenue'][i]] for i in range(len(emissions['Currency of Total Revenue']))]
emissions['Revenue with Currency'] = combined
emissions

Index | Company Name         | Company Sector          | Company Sector (Other)      | Year of CDP Disclosure | Scope 1 value | Scope 2 value (location-based) | Scope 2 value (market-based) | Scope 3 value | Total Revenue | Currency of Total Revenue | Internal Price on Carbon (Y/N) | Price | Revenue with Currency
0     | ADIDAS               | APPAREL & FOOTWEAR      | nan                         | 2022                   | 12908.4       | nan                            | 125502                       | 7.25451e+06   | 2.1234e+10    | EUR                       | Yes                            | 85    | ['EUR' 21234000000.0]
1     | ADIDAS               | APPAREL & FOOTWEAR      | nan                         | 2022                   | 12908.4       | nan                            | 125502                       | 7.25451e+06   | 2.1234e+10    | EUR                       | Yes                            | 85    | ['EUR' 21234000000.0]
2     | ADIDAS               | APPAREL & FOOTWEAR      | nan                         | 2022                   | 12908.4       | nan                            | 125502                       | 7.25451e+06   | 2.1234e+10    | EUR                       | Yes                            | 85    | ['EUR' 21234000000.0]
3     | AHOLD DELHAIZE       | CONSUMER PACKAGED GOODS | GROCERY / FOOD DISTRIBUTION | 2022                   | 1.728e+06     | 1.748e+06                      | 1.099e+06                    | 6.59304e+07   | 75600         | EUR                       | Yes                            | 150   | ['EUR' 75600.0]
4     | AIR FRANCE-KLM       | TRANSPORTATION          | nan                         | 2022                   | 1.63363e+07   | nan                            | 19104.7                      | 8.70067e+06   | 1.4315e+10    | EUR                       | Yes                            | nan   | ['EUR' 14315000000.0]
5     | AIRBUS               | OTHER                   | ROLLING STOCK MANUFACTURER  | 2022                   | 561737        | 339313                         | 265016                       | 4.76092e+08   | 52856         | EUR                       | Yes                            | 150   | ['EUR' 52856.0]
6     | ALBERTSONS COMPANIES | CONSUMER PACKAGED GOODS | GROCERY / FOOD DISTRIBUTION | 2022                   | 2.76738e+06   | 1.66352e+06                    | 1.64609e+06                  | 7.50445e+06   | 6.96904e+10   | USD                       | No                             | nan   | ['USD' 69690400000.0]
7     | ALLY FINANCIAL       | OTHER                   | FINANCE / BANKING           | 2022                   | 4228          | 9758                           | 0                            | 13986         | 8.381e+09     | USD                       | No                             | nan   | ['USD' 8381000000.0]
8     | ALSTOM               | OTHER                   | AEROSPACE                   | 2022                   | 107073        | 144632                         | 121789                       | 3.34293e+07   | 1.5741e+10    | EUR                       | No                             | nan   | ['EUR' 15741000000.0]
9     | AMCOR                | CONSUMER PACKAGED GOODS | nan                         | 2022                   | 529192        | 1.43269e+06                    | 1.43208e+06                  | 1.96516e+07   | 1.2861e+10    | USD                       | No                             | nan   | ['USD' 12861000000.0]
... (146 rows omitted)

In [8]:
#now lets write the function that will be used in applying. You don't need to understand how to write this function in order to understand the follow part of this lab
#This function takes in all element in the "Revenue with Currency" column and turns all the non-USD revenue into USD currency
def toUSD(i):
    dic = {
    'AUD': 0.75,   # 1 AUD to USD
    'CAD': 0.78,   # 1 CAD to USD
    'CHF': 1.09,   # 1 CHF to USD
    'DKK': 0.15,   # 1 DKK to USD
    'EUR': 1.16,   # 1 EUR to USD
    'GBP': 1.37,   # 1 GBP to USD
    'JPY': 0.009,  # 1 JPY to USD
    'KRW': 0.0009, # 1 KRW to USD
    'NOK': 0.11,   # 1 NOK to USD
    'RUB': 0.014,  # 1 RUB to USD
    'SEK': 0.11,   # 1 SEK to USD
    'USD': 1       # No Change
    }
    return i[1] * dic[i[0]] #The revenue multiply by the corresponding currency difference

In [9]:
#Now let's use this function to add a new column with all revenues in USD!
emissions['Revenue(USD)'] = emissions.apply(toUSD, 'Revenue with Currency')
emissions.drop('Revenue with Currency') #dropping this column so the dataset does not look to messy
emissions

Index | Company Name         | Company Sector          | Company Sector (Other)      | Year of CDP Disclosure | Scope 1 value | Scope 2 value (location-based) | Scope 2 value (market-based) | Scope 3 value | Total Revenue | Currency of Total Revenue | Internal Price on Carbon (Y/N) | Price | Revenue with Currency | Revenue(USD)
0     | ADIDAS               | APPAREL & FOOTWEAR      | nan                         | 2022                   | 12908.4       | nan                            | 125502                       | 7.25451e+06   | 2.1234e+10    | EUR                       | Yes                            | 85    | ['EUR' 21234000000.0] | 2.46314e+10
1     | ADIDAS               | APPAREL & FOOTWEAR      | nan                         | 2022                   | 12908.4       | nan                            | 125502                       | 7.25451e+06   | 2.1234e+10    | EUR                       | Yes                            | 85    | ['EUR' 21234000000.0] | 2.46314e+10
2     | ADIDAS               | APPAREL & FOOTWEAR      | nan                         | 2022                   | 12908.4       | nan                            | 125502                       | 7.25451e+06   | 2.1234e+10    | EUR                       | Yes                            | 85    | ['EUR' 21234000000.0] | 2.46314e+10
3     | AHOLD DELHAIZE       | CONSUMER PACKAGED GOODS | GROCERY / FOOD DISTRIBUTION | 2022                   | 1.728e+06     | 1.748e+06                      | 1.099e+06                    | 6.59304e+07   | 75600         | EUR                       | Yes                            | 150   | ['EUR' 75600.0]       | 87696
4     | AIR FRANCE-KLM       | TRANSPORTATION          | nan                         | 2022                   | 1.63363e+07   | nan                            | 19104.7                      | 8.70067e+06   | 1.4315e+10    | EUR                       | Yes                            | nan   | ['EUR' 14315000000.0] | 1.66054e+10
5     | AIRBUS               | OTHER                   | ROLLING STOCK MANUFACTURER  | 2022                   | 561737        | 339313                         | 265016                       | 4.76092e+08   | 52856         | EUR                       | Yes                            | 150   | ['EUR' 52856.0]       | 61313
6     | ALBERTSONS COMPANIES | CONSUMER PACKAGED GOODS | GROCERY / FOOD DISTRIBUTION | 2022                   | 2.76738e+06   | 1.66352e+06                    | 1.64609e+06                  | 7.50445e+06   | 6.96904e+10   | USD                       | No                             | nan   | ['USD' 69690400000.0] | 6.96904e+10
7     | ALLY FINANCIAL       | OTHER                   | FINANCE / BANKING           | 2022                   | 4228          | 9758                           | 0                            | 13986         | 8.381e+09     | USD                       | No                             | nan   | ['USD' 8381000000.0]  | 8.381e+09
8     | ALSTOM               | OTHER                   | AEROSPACE                   | 2022                   | 107073        | 144632                         | 121789                       | 3.34293e+07   | 1.5741e+10    | EUR                       | No                             | nan   | ['EUR' 15741000000.0] | 1.82596e+10
9     | AMCOR                | CONSUMER PACKAGED GOODS | nan                         | 2022                   | 529192        | 1.43269e+06                    | 1.43208e+06                  | 1.96516e+07   | 1.2861e+10    | USD                       | No                             | nan   | ['USD' 12861000000.0] | 1.2861e+10
... (146 rows omitted)

Now we have a column with revenues only in USD!

**Secondly**, we can also use `apply()` to transform numerical variable into categorical variable. As instance, here we want to add a column that categorize the Revenue into "High", "Medium", and "Low" base on its value, we can achieve this using the apply function

In [26]:
#as usual, let's create the function needed for this operation
def rev_level(rev):
    if rev > 10**10:
        return 'High'
    if rev < 10**5:
        return 'Low'
    else:
        return 'Medium'

In [28]:
#Now let's apply the function to the dataset and add the column
emissions['Revenue Level'] = emissions.apply(rev_level, 'Revenue(USD)')
emissions

Index | Company Name         | Company Sector          | Company Sector (Other)      | Year of CDP Disclosure | Scope 1 value | Scope 2 value (location-based) | Scope 2 value (market-based) | Scope 3 value | Total Revenue | Currency of Total Revenue | Internal Price on Carbon (Y/N) | Price | Revenue with Currency | Revenue(USD) | Revenue Level
0     | ADIDAS               | APPAREL & FOOTWEAR      | nan                         | 2022                   | 12908.4       | nan                            | 125502                       | 7.25451e+06   | 2.1234e+10    | EUR                       | Yes                            | 85    | ['EUR' 21234000000.0] | 2.46314e+10  | High
1     | ADIDAS               | APPAREL & FOOTWEAR      | nan                         | 2022                   | 12908.4       | nan                            | 125502                       | 7.25451e+06   | 2.1234e+10    | EUR                       | Yes                            | 85    | ['EUR' 21234000000.0] | 2.46314e+10  | High
2     | ADIDAS               | APPAREL & FOOTWEAR      | nan                         | 2022                   | 12908.4       | nan                            | 125502                       | 7.25451e+06   | 2.1234e+10    | EUR                       | Yes                            | 85    | ['EUR' 21234000000.0] | 2.46314e+10  | High
3     | AHOLD DELHAIZE       | CONSUMER PACKAGED GOODS | GROCERY / FOOD DISTRIBUTION | 2022                   | 1.728e+06     | 1.748e+06                      | 1.099e+06                    | 6.59304e+07   | 75600         | EUR                       | Yes                            | 150   | ['EUR' 75600.0]       | 87696        | Low
4     | AIR FRANCE-KLM       | TRANSPORTATION          | nan                         | 2022                   | 1.63363e+07   | nan                            | 19104.7                      | 8.70067e+06   | 1.4315e+10    | EUR                       | Yes                            | nan   | ['EUR' 14315000000.0] | 1.66054e+10  | High
5     | AIRBUS               | OTHER                   | ROLLING STOCK MANUFACTURER  | 2022                   | 561737        | 339313                         | 265016                       | 4.76092e+08   | 52856         | EUR                       | Yes                            | 150   | ['EUR' 52856.0]       | 61313        | Low
6     | ALBERTSONS COMPANIES | CONSUMER PACKAGED GOODS | GROCERY / FOOD DISTRIBUTION | 2022                   | 2.76738e+06   | 1.66352e+06                    | 1.64609e+06                  | 7.50445e+06   | 6.96904e+10   | USD                       | No                             | nan   | ['USD' 69690400000.0] | 6.96904e+10  | High
7     | ALLY FINANCIAL       | OTHER                   | FINANCE / BANKING           | 2022                   | 4228          | 9758                           | 0                            | 13986         | 8.381e+09     | USD                       | No                             | nan   | ['USD' 8381000000.0]  | 8.381e+09    | Medium
8     | ALSTOM               | OTHER                   | AEROSPACE                   | 2022                   | 107073        | 144632                         | 121789                       | 3.34293e+07   | 1.5741e+10    | EUR                       | No                             | nan   | ['EUR' 15741000000.0] | 1.82596e+10  | High
9     | AMCOR                | CONSUMER PACKAGED GOODS | nan                         | 2022                   | 529192        | 1.43269e+06                    | 1.43208e+06                  | 1.96516e+07   | 1.2861e+10    | USD                       | No                             | nan   | ['USD' 12861000000.0] | 1.2861e+10   | High
... (146 rows omitted)

Now we know how to categorize numerical data, we can use this to do more advanced operation sand visualizations!

### 2.2 Group

Since we now have revenues with the same format, let's do more aggregations with the `group` function, which  groups data by a specific attribute, allowing for analysis and aggregation within each group. Here we are using it to look at the average revenue of each company sector

In [37]:
emission_g = emissions.select('Company Sector', 'Revenue(USD)') #Select the columns we want to look at
emission_g.group('Company Sector', np.mean) #call the group function with the specific attribute and the aggregation we want to use

Company Sector          | Revenue(USD) mean
APPAREL & FOOTWEAR      | 1.21045e+10
CONSUMER PACKAGED GOODS | 6.82165e+10
ENERGY                  | 8.53938e+10
FOOD & AGRICULTURE      | 2.68682e+10
MATERIALS               | 2.90295e+10
OTHER                   | 2.47897e+10
TECHNOLOGY              | 9.02242e+10
TRANSPORTATION          | 3.60605e+10

In [32]:
#We can also explore the data in different ways using different attributes
emission_g.group('Company Sector', np.median)

Company Sector          | Revenue(USD) median
APPAREL & FOOTWEAR      | 5.38739e+09
CONSUMER PACKAGED GOODS | 1.29282e+10
ENERGY                  | 2.90683e+10
FOOD & AGRICULTURE      | 1.743e+10
MATERIALS               | 2.90295e+10
OTHER                   | 6.152e+09
TECHNOLOGY              | 8.08485e+10
TRANSPORTATION          | 1.27989e+10

In [38]:
#We can also group more than one variables
emission_g1 = emissions.select('Company Sector', 'Company Name', 'Revenue(USD)')
emission_g1.group(['Company Sector', 'Company Name'], np.max)

Company Sector     | Company Name              | Revenue(USD) max
APPAREL & FOOTWEAR | ADIDAS                    | 2.46314e+10
APPAREL & FOOTWEAR | AMERICAN EAGLE OUTFITTERS | 5.01078e+09
APPAREL & FOOTWEAR | ARITZIA                   | 1.16581e+09
APPAREL & FOOTWEAR | BURBERRY                  | 3.87162e+09
APPAREL & FOOTWEAR | FILA HOLDINGS             | 3.4146e+09
APPAREL & FOOTWEAR | GIORGIO ARMANI            | 2.38447e+09
APPAREL & FOOTWEAR | H&M                       | 2.3e+10
APPAREL & FOOTWEAR | INDITEX                   | 3.21692e+10
APPAREL & FOOTWEAR | LEVI STRAUSS & CO.        | 5.764e+09
APPAREL & FOOTWEAR | LYMI DBA REFORMATION      | 1.71381e+06
... (97 rows omitted)

### 2.3 Pivot

The pivot function in Python reshapes data, making rows into columns. Similar to group, it summarizes data, but it is a little more complicated with changing some column values into column indexes. 

If we want to see the count of each currency in each company section, we can use the pivot function as shown below

In [41]:
emissions.pivot('Currency of Total Revenue', #the row index
                'Company Sector', #the column index
                )

Company Sector          | AUD  | CAD  | CHF  | DKK  | EUR  | GBP  | JPY  | KRW  | NOK  | RUB  | SEK  | USD
APPAREL & FOOTWEAR      | 0    | 2    | 0    | 0    | 8    | 1    | 0    | 1    | 0    | 0    | 9    | 23
CONSUMER PACKAGED GOODS | 0    | 0    | 0    | 0    | 5    | 0    | 0    | 0    | 0    | 0    | 0    | 8
ENERGY                  | 0    | 0    | 0    | 4    | 6    | 0    | 1    | 0    | 1    | 1    | 0    | 21
FOOD & AGRICULTURE      | 1    | 0    | 3    | 0    | 2    | 1    | 0    | 0    | 0    | 0    | 0    | 21
MATERIALS               | 0    | 0    | 0    | 0    | 0    | 0    | 0    | 0    | 0    | 0    | 0    | 2
OTHER                   | 0    | 0    | 0    | 0    | 3    | 0    | 1    | 2    | 0    | 0    | 0    | 13
TECHNOLOGY              | 0    | 0    | 0    | 0    | 0    | 0    | 0    | 0    | 0    | 0    | 0    | 4
TRANSPORTATION          | 0    | 0    | 0    | 0    | 4    | 0    | 1    | 0    | 0    | 0    | 0    | 7

Instead of value counts, we can also incorporate aggregations into this function just like group()

Now lets look at the average scope 1 value of each combination of currency and company Sector

In [44]:
emissions.pivot('Currency of Total Revenue', #the row index
                'Company Sector', #the column index
                values = 'Scope 1 value', #the variable that is being evaluated for each combination
                collect = np.mean #how the value is going to be aggregated
                )

Company Sector          | AUD         | CAD     | CHF         | DKK       | EUR         | GBP   | JPY        | KRW     | NOK        | RUB         | SEK   | USD
APPAREL & FOOTWEAR      | 0           | 786.755 | 0           | 0         | 11005.4     | 1834  | 0          | 1245.9  | 0          | 0           | 21171 | 8668.31
CONSUMER PACKAGED GOODS | 0           | 0       | 0           | 0         | 977242      | 0     | 0          | 0       | 0          | 0           | 0     | 1.87267e+06
ENERGY                  | 0           | 0       | 0           | 2.142e+06 | 6.27514e+06 | 0     | 1.7875e+07 | 0       | 1.0445e+06 | 3.63883e+07 | 0     | 3.27379e+07
FOOD & AGRICULTURE      | 3.11218e+06 | 0       | 3.37829e+06 | 0         | 983030      | 15797 | 0          | 0       | 0          | 0           | 0     | 1.93261e+06
MATERIALS               | 0           | 0       | 0           | 0         | 0           | 0     | 0          | 0       | 0          | 0           | 0     | 7.64138e+07
OTHER                   | 0           | 0       | 0           | 0         | 1.80323e+06 | 0     | 2.56e+06   | 29813.9 | 0          | 0           | 0     | 1.01883e+07
TECHNOLOGY              | 0           | 0       | 0           | 0         | 0           | 0     | 0          | 0       | 0          | 0           | 0     | 66042.1
TRANSPORTATION          | 0           | 0       | 0           | 0         | 7.00752e+06 | 0     | 2.56e+06   | 0       | 0          | 0           | 0     | 9.48256e+06

<!-- END QUESTION -->

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">

## visualizations (probably a large section, 2 devs)

this section is probably going to be a bigger one, since its a lot more interesting for the students to analyze the data through visualizations than just in the table --> can use datascience plotting, seaborn, or plotly, just like notebook 1 showed.

**Note:** we want to include some visualizations looking at the data grouped by the Sector attribute; also, I've kept the plotting section from the previous section below as a small reference / source of inspiration! we'll delete it later

some of the visualizations you create might be difficult, because the data has to be cleaned up first. that's fine, just keep whatever visualizations you make that you think could be interesting and i'll filter through them as we're finishing the notebook

remember, students probably arent that familiar with python: use a lot of fill in the ... questions and only very basic do it yourself questions. always give them an example before asking them to do it themselves!

also, add widgets if you are able to! those would be great for comparisons

note: can also add section subheadings if you want to break it up into different sections / exploring different features of the data; example:

### section_number.subsection_number: Visualizing by Sector

question formatting:

<!-- BEGIN QUESTION -->
<div class="alert alert-warning">

### Question section_number.question_number:
coding or short answer question here
</div>

for short answers:

*Type your answer here. Double-click to edit this cell and replace this text with your answer. Run this cell to proceed when finished.*

for coding

In [ ]:
emissions.group(...) # Fill in the ellipsis with blah blah blah

NameError: name 'emissions' is not defined

note: the END QUESTION tag for the otter pdf generator is in the blank cell right below this one! You need a BEGIN QUESTION and END QUESTION tag for every question.

<!-- END QUESTION -->

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">

## Plotting [Reference - will be deleted later]

While knowing the average, the largest, and the smallest values are useful, they don't tell us the whole story. Along with this, just looking at a bunch of numbers isn't always fun or efficient. To further expand on our analysis, let's make some visualizations of our data!

Fortunately, in Python, there are lots of functions that can do this for us. We'll examine a few below.

### Histogram
The `hist` function will plot a [histogram](https://en.wikipedia.org/wiki/Histogram) of the column you specify.

In [ ]:
tips.hist("total", bins=np.arange(0, 60, 5))

### Scatter Plot

The `scatter` function makes a [scatter plot](https://en.wikipedia.org/wiki/Scatter_plot), where the first parameter below (`total`) is the column we want to display on the x-axis, and the second parameter (`tip`) is the column we want to display on the y-axis.

In [ ]:
tips.scatter("total", "tip")

### Interactive Visualizations

<div class="alert alert-block alert-success">
    <p style="font-size:20px">This section is advanced/optional
</div>

The plots above are great, and are suitible for almost all cases. However, we can take it one step further by creating an interactive plot! We can do this with the `plotly` library. In these plots you can hover your mouse over data, and information about it will pop up!

Don't worry about understanding the code below, just check out the cool visualizations, and try hovering over the data with your mouse in different spots.

Check out the comments for a description of the visualizations.

In [ ]:
px.histogram(x=tips.column("total"), title="Histogram of Total Bill Amounts",
             template = "seaborn", labels={"x":"Total Bill Amounts", "y":"Count"},
             width = 600, height = 400, nbins=20)
# Plots a histogram of the total bill amounts

In [ ]:
px.histogram(x=tips.column("time"), y=tips.column("tip"), color = tips.column("time"),
             template = "seaborn", title = "Average Tips by Meal", labels = {"x": "Day", "y": "Tips"},
             histfunc = "avg", width = 600, height = 400)
# Plots a bar chart of the tips by meal

In [ ]:
px.histogram(x=tips.column("day"), y=tips.column("tip"), color = tips.column("day"),
             template = "seaborn", title = "Tips by Day", labels = {"x": "Day", "y": "Tips"},
             width = 600, height = 400)
# Plots a bar chart of the tips by day

In [ ]:
px.scatter(x=tips.column("total"), y=tips.column("tip"),
           title="Scatter Plot of Total Bill Amounts vs. Tip Amounts", template = "seaborn",
           labels = {"x": "Total Bill Amount", "y": "Tip Amount"},
           width=500, height=500)
# Plots a scatter plot of the total bill amounts vs. the tip amounts

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">

**to do for Manaar**: potentially add pdf generator if necessary; if not, take out otter grader stuff. also potentially add data science resources section

## Conclusion

In this notebook, you've learned quite a bit, below is a summary of the topics we have covered:
- Jupyter Notebooks
    - History of Jupyter
    - Structure of a Notebook
    - Editing a notebook
- Python
    - Math
    - Strings
    - Errors
    - Variables
    - Lists
    - Functions
    - Loops
    - Modules
    - Dot Notation
- Tables
    - Loading a Table
    - Context of a Table
    - Size of a Table
    - Selecting Columns
    - Sorting Tables
- Columns
    - Statistics of Columns
- Plotting
    - Histograms
    - Scatter Plots
    - Interactive Plots

<h3>Congratulations on finishing the notebook!</h3>

<hr style="border: 2px solid #003262">
<hr style="border: 2px solid #C9B676">

## A Final Request: Feedback Form

<div class="alert alert-block alert-info">
    <p style="font-size:20px">We encourage students to fill out the following feedback form to share your experience with this Module created notebook. This feedback form will take no longer than 5 minutes. At UC Berkeley Data Science Undergraduate Studies – Modules, we appreciate all feedback to improve the learning of students and experience utilizing Jupyter Notebooks for Data Science Education. You can fill out the survey by running the below and clicking the button that appears. Thank you in advance for your time!
</div>

In [ ]:
feedback_button()